:root {
    --main-color : rgb(0, 156, 218);
    --accent-color : rgb(255, 225, 0);
    --background-color: rgb(200, 200, 200);
    --card-color: white;
}

body {
    margin: 0;
}

.content {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.content>* {
    padding: 20px;
}

h3, h4, h5, h6, p {
    margin: 0;
}

nav {
    background-color: var(--main-color);
    grid-row: span 2;
}

header {
    background-color: var(--card-color); 
}

main {
    background-color: var(--background-color);
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.card {
    background-color: var(--card-color);
    padding: 15px;
    border-radius: 5px;
}

.project-section {
    grid-row: span 2;
}

.project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
}

.announcements-grid {
    display: grid;
    grid-auto-rows: 1fr;
    gap: 10px;
}

.trending-grid {
    display: grid;
    grid-auto-rows: 1fr;
    gap: 10px;
}

section > h3 {
    padding-bottom: 10px;
}

.projects > h3 {
    grid-column: span 2;
}

